<template>
  <el-row>
    <el-row>
      <h1>User Panel <span v-if="user">({{user}})</span></h1>
    </el-row>
    <el-divider>
      <i class="el-icon-star-on"></i>
    </el-divider>
    <el-row class="content" v-if="user">
      <ApplyCoupon :user="user"/>
      <Credit :user="user"/>
      <Transactions :user="user"/>
    </el-row>
    <el-row class="content" v-else>
      <Login @loggedIn="loggedIn"/>
    </el-row>
  </el-row>
</template>

<script>
import Login from "./components/Login";
import ApplyCoupon from "./components/ApplyCoupon";
import Credit from "./components/Credit";
import Transactions from "./components/Transactions";

export default {
  name: "UserPanel",
  components: {
    Login,
    ApplyCoupon,
    Credit,
    Transactions,
  },
  props: {},
  data() {
    return {
      user: null,
    };
  },
  methods: {
    loggedIn(user) {
      this.user = user;
    }
  },
};
</script>

<style scoped>
.content {
  padding: 0 8rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  flex-flow: column wrap;;
}

.content > .el-card {
  margin-bottom: 1rem;
}
</style>
