<template>
  <el-row>
    <el-row>
      <h1>Admin Panel</h1>
    </el-row>
    <el-divider>
      <i class="el-icon-star-on"></i>
    </el-divider>
    <el-row class="content">
      <Coupons />
    </el-row>
  </el-row>
</template>

<script>
import Coupons from './components/Coupons';

export default {
  name: 'AdminPanel',
  components: {
    Coupons,
  },
  props: {

  }
}
</script>

<style scoped>
.content {
  padding: 0 8rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  flex-flow: column wrap;;
}

.content > .el-card {
  margin-bottom: 1rem;
}
</style>
