<template>
  <el-card class="box-card">
    <div slot="header" class="clearfix">
      <h2>Apply Coupon</h2>
    </div>
    <div>
      <el-form :inline="true" @submit.native.prevent="onSubmit" ref="form" :model="form" label-width="120px">
        <el-form-item>
          <el-input :disabled="loading" v-model="form.code"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button :loading="loading" :disabled="!form.code" type="primary" @click="onSubmit">Apply</el-button>
        </el-form-item>
      </el-form>
    </div>
  </el-card>
</template>

<script>
import WalletService from "@/WalletService";

export default {
  name: "ApplyCoupon",
  props: {
    user: String
  },
  data() {
    return {
      loading: false,
      form: {
        code: ""
      }
    };
  },
  methods: {
    onSubmit(e) {
      this.loading = true;

      WalletService.applyCoupon(this.user, this.form.code)
        .then(() => {
          this.loading = false;
          this.form.code = "";

          this.$notify({
            title: "Applied succefully",
            message: "Coupon applied successfully",
            type: "success"
          });
        })
        .catch(e => {
          this.loading = false;

          this.$notify({
            title: "Error when applying coupon",
            message:  e,
            type: "error"
          });
        });
    }
  }
};
</script>

<style scoped>
</style>
