<template>
  <el-card v-loading="loading" class="box-card" :disabled="true" :loading="true">
    <div slot="header" class="clearfix">
      <h2>Credit</h2>
      <el-button :loading="loading" @click="getCreditInfo" icon="el-icon-refresh" class="float-btn" circle></el-button>
    </div>
    <div v-if="creditInfo">
      <h2>
        {{creditInfo.balance.toLocaleString()}}
        <span>{{creditInfo.currency}}</span>
      </h2>
    </div>
  </el-card>
</template>

<script>
import WalletService from "@/WalletService";

export default {
  name: "Credit",
  props: {
    user: String
  },
  data() {
    return {
      loading: false,
      creditInfo: null
    };
  },
  mounted() {
    this.getCreditInfo();
  },
  methods: {
    getCreditInfo() {
      this.loading = true;

      WalletService.getCredit(this.user)
        .then(r => {
          this.creditInfo = r;

          this.loading = false;
        })
        .catch(e => {
          this.loading = false;

          this.$notify({
            title: "Error",
            message: "Error when loading credit info: " + e,
            type: "error"
          });
        });
    }
  }
};
</script>

<style scoped>
.float-btn {
  position: absolute !important;
  top: 1rem;
  left: 1rem;
}

.box-card {
  position: relative;
}
</style>
