<template>
  <el-card class="box-card" :disabled="true">
    <div slot="header" class="clearfix">
      <h2>Login</h2>
    </div>
    <div>
      <el-form :inline="true" @submit.native.prevent="onSubmit" ref="form" :model="form" label-width="120px">
        <el-form-item>
          <el-input v-model="form.username"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onSubmit">Login</el-button>
        </el-form-item>
      </el-form>
    </div>
  </el-card>
</template>

<script>
export default {
  name: "Login",
  props: {},
  data() {
    return {
      form: {
        username: "",
      }
    };
  },
  methods: {
    onSubmit(){
      this.$emit('loggedIn', this.form.username);
    }
  }
};
</script>

<style scoped>
</style>
