<template>
  <el-card class="box-card">
    <div slot="header" class="clearfix">
      <h2>Transactions</h2>
      <el-button :loading="loading" @click="fetchTransactions" icon="el-icon-refresh" class="float-btn" circle></el-button>
    </div>
    <div>
      <el-table v-loading="loading" height="200" :data="tableData" style="width: 100%">
        <el-table-column prop="amount" label="Amount (IRR)" width="150"></el-table-column>
        <el-table-column prop="type" label="Type" width="150"></el-table-column>
        <el-table-column prop="total" label="Total"></el-table-column>
        <el-table-column prop="date" label="Date"></el-table-column>
      </el-table>
    </div>
  </el-card>
</template>

<script>
import WalletService from "@/WalletService";

export default {
  name: "Transactions",
  props: {
    user: String
  },
  mounted() {
    this.fetchTransactions();
  },
  data() {
    return {
      loading: false,
      transactions: []
    };
  },
  computed: {
    tableData() {
      return this.transactions.map(t => {
        return {
          amount: t.amount.toLocaleString(),
          date: (new Date(Date.parse(t.created_at))).toLocaleString(),
          type: t.type,
          total: t.total.toLocaleString(),
        };
      });
    },
  },
  methods: {
    fetchTransactions() {
      this.loading = true;

      WalletService.fetchTransactions(this.user)
        .then(r => {
          this.loading = false;

          this.transactions = r;
        })
        .catch(e => {
          this.loading = false;

          this.$notify({
            title: "Error when loading transactions",
            message:  e,
            type: "error"
          });
        });
    }
  }
};
</script>

<style scoped>
.float-btn {
  position: absolute !important;
  top: 1rem;
  left: 1rem;
}

.box-card {
  position: relative;
}

.text {
  font-size: 14px;
}

.item {
  margin-bottom: 18px;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
</style>
