<template>
  <el-row>
    <el-col :span="12">
      <AdminPanel />
    </el-col>
    <el-divider direction="vertical" class="divider-v"></el-divider>
    <el-col :span="12">
      <UserPanel />
    </el-col>
  </el-row>
</template>

<script>
import AdminPanel from "./components/AdminPanel/AdminPanel";
import UserPanel from "./components/UserPanel/UserPanel";

export default {
  name: "App",
  components: {
    AdminPanel,
    UserPanel
  }
};
</script>

<style scoped>
.el-col {
  height: calc(100vh - 20px);
  text-align: center;
}

.divider-v {
  position: absolute !important;
  height: calc(100vh - 1rem);
}
</style>
