<template>
  <el-card class="box-card">
    <div slot="header" class="clearfix">
      <h2>Coupons</h2>
      <el-button
        :disabled="!coupon"
        :loading="loading"
        @click="fetchCouponUsages(coupon)"
        icon="el-icon-refresh"
        class="float-btn"
        circle
      ></el-button>
    </div>
    <div>
      <el-select
        :loading="loading"
        v-model="coupon"
        @change="fetchCouponUsages"
        placeholder="Select"
      >
        <el-option
          v-for="coupon in coupons"
          :key="coupon.id"
          :label="coupon.code"
          :value="coupon.code"
        >
          <span style="float: left">{{ coupon.code }}</span>
          <span style="float: right; color: #8492a6; font-size: 13px">{{ coupon.value.toLocaleString() }} IRR</span>
        </el-option>
      </el-select>
    </div>
    <el-divider></el-divider>
    <div>
      <el-table v-loading="loading"  :data="tableData" style="width: 100%">
        <el-table-column prop="user_id" label="User"></el-table-column>
        <el-table-column prop="date" label="Date"></el-table-column>
      </el-table>
    </div>
  </el-card>
</template>

<script>
import DiscountService from "@/DiscountService";

export default {
  name: "Coupons",
  props: {},
  mounted() {
    this.fetchCoupons();
  },
  data() {
    return {
      loading: false,
      coupon: null,
      coupons: [],
      usages: []
    };
  },
  computed: {
    tableData() {
      return this.usages.map(u => ({
        user_id: u.user_id,
        date: (new Date(Date.parse(u.created_at))).toLocaleString(),
      }));
    },
    activeCoupon() {
      return this.coupons.find(c => c.code === this.coupon);
    }
  },
  methods: {
    fetchCoupons() {
      this.loading = true;

      DiscountService.fetchCoupons()
        .then(r => {
          this.loading = false;

          this.coupons = r;
        })
        .catch(e => {
          this.loading = false;

          this.$notify({
            title: "Error when loading coupons",
            message: e,
            type: "error"
          });
        });
    },
    fetchCouponUsages(coupon) {
      this.loading = true;

      DiscountService.fetchCouponUsages(coupon)
        .then(r => {
          this.loading = false;

          this.usages = r;
        })
        .catch(e => {
          this.loading = false;

          this.$notify({
            title: "Error when loading coupon usages",
            message: e,
            type: "error"
          });
        });
    }
  }
};
</script>

<style scoped>
.float-btn {
  position: absolute !important;
  top: 1rem;
  left: 1rem;
}

.box-card {
  position: relative;
}

.text {
  font-size: 14px;
}

.item {
  margin-bottom: 18px;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
</style>
